# PostgreSQL Connection String
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pollwave?schema=public

# Redis Connection String
REDIS_URL=redis://localhost:6379

# Server Secrets & Config
PORT=4000
JWT_SECRET=super-secret-jwt-key-for-pollwave-dev
SERVER_SECRET=super-secret-server-key-for-pollwave-dev
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=super-secret-nextauth-key-for-pollwave-dev
CLIENT_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
